:root{
  --darkBlue: #313854;
  --grey: #eaedf1;
  --white: #fff;
  --biru: #1fbbe1;
}

/* box-shadow */
.box1{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
}

/* required input */
.required-field{
  color: red;
}

/* navbar */
nav.navbar{
  background: var(--darkBlue);
  color: var(--white);
  /* position: fixed; */
}
nav a{
  text-decoration: none;
  color: var(--white);
}
nav a:hover{
  color: var(--white);
}
nav .navbar-brand {
  color: var(--white);
}
nav label{
  cursor: pointer;
  font-size: 25px;
}
.dropdown-toggle{
  border: none;
  background: transparent;
  color: white;
}
.dropdown-menu{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.logout-button{
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
}
/* end navbar */


/* sidebar */
.sidebar ul a.active-page{
  padding-left: 55px;
  background: #394263;
}
.content-sidebar{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.sidebar{
  height: 100vh;
  left: -255px;
  top: 56px;
  width: 250px;
  position: fixed;
  background: var(--darkBlue);
  transition: all .5s;
}
.sidebar .header-sidebar{
  color: var(--white);
  background: #394263;
  height: 90px;
}
.sidebar .header-sidebar h4{
  font-weight: lighter;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 50px;
  color: var(--white);
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, .1);
  transition: .4s;
}
.sidebar ul a:hover{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 15px;
}
.line-sidebar{
  color: var(--grey);
  font-weight: bold;
}

/* end sidebar */

#humbergermenu:checked ~ .sidebar{
  left: 0;
}
#humbergermenu:checked ~ main{
  margin-left: 250px;
}


/* footer */
.footer{
  background: var(--darkBlue);
  color: var(--white);
}
.footer a{
  color: var(--white);
  /* text-decoration: none; */
}

.footer-desc{
  display: flex;
  align-items: center;
}

.footer-info a:hover{
  color: var(--grey);
  text-decoration: none;
}

@media (max-width: 576px) {
  .footer{
    text-align: center;
  }
}
/* end footer */

/* main */
main{
  transition: all .5s;
  min-height: 100vh;
  margin-top: 75px;
}
/* end main */


/* User */
.user-table a:hover{
  color: white;
}
/* end user */